<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>First</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="./styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Roboto:wght@100;500&display=swap"
    rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>

<body>
  <div id="main-container">
    <h5 class="main-title">Número de elementos:</h5>
    <input type="number" placeholder="Cantidad" v-model="amount" min="1" max="50">
    <ul>
      <li v-for="(key, index) in repeat">
        <div class="container-circle">
          <div class="circle">{{ parseInt(index) + 1 }}</div>
        </div>
        <div class="container-bar">
          <div class="bar-top"></div>
          <div class="bar-bottom"></div>
        </div>
      </li>
    </ul>

    <div class="dedication">
      <div class="msg">La única manera de hacer un gran trabajo, es amar lo que haces.</div>
      <div class="author">- Steve Jobs</div>
    </div>
  </div>

  <script>
    let app = new Vue({
      el: '#main-container',
      data: {
        amount: 5
      },
      computed: {
        repeat: function () {
          let amount = parseInt(this.amount)

          if (amount > 50) {
            alert('Por temas de rendimiento el número de elementos no puede ser mayor a 50')
            amount = 5
          }
          
          if (amount < 0) {
            amount = 1
          }
          
          this.amount = amount

          return new Array(amount).fill(0)
        }
      }
    })
  </script>
</body>

</html>
